*{box-sizing:border-box;margin:0;padding:0;font-family:sans-serif}

.container{width:90%;max-width:1200px;margin:auto}

.navbar{background:linear-gradient(120deg,#0a1b2b,#808080);padding:15px 0}

h1{
    color:white;
    font-family: 'Poppins', sans-serif;
}

nav a{color:white;margin-left:20px;text-decoration:none}

.btn-nav{background:#00b4ff;padding:8px 14px;border-radius:6px}

.hero{background:linear-gradient(120deg,#0a1b2b,#003b5c);color:white;padding:80px 0}

.hero-content{display:grid;grid-template-columns:1fr 1fr;gap:40px;align-items:center}

.hero img{width:100%;border-radius:20px}

h2{font-size:2.5rem}

p{margin:20px 0;
font-size:16px;
}

.buttons a{margin-right:15px}

.btn-main{background:#00b4ff;color:white;padding:14px 24px;border-radius:10px;text-decoration:none}

.btn-outline{border:2px solid #00b4ff;color:#00b4ff;padding:14px 24px;border-radius:10px;text-decoration:none}

.features{padding:80px 0;}

.grid{display:grid;grid-template-columns:repeat(3,1fr);gap:20px}

.card{background:linear-gradient(120deg,#0a1b2b,#808080) !important;color:white !important;padding:32px;text-align:center;border-radius:20px;font-size:1.2rem;box-shadow:0 10px 20px rgba(0,0,0,.05)}

.card i{color:white}

.cta{text-align:center;padding:80px 20px;background:#00b4ff;color:white}

footer{text-align:center;padding:25px;background:#0a1b2b;color:white}

@media(max-width:900px){
    .hero-content,.grid{grid-template-columns:1fr;text-align:center}
}

